/* Estilo para el fondo del cuerpo */
body {
    background-color: #FFFACD; /* Amarillo pálido */
}

/* Estilo para la navbar */
#navbar {
    background-color: #4B5320; /* Verde militar */
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
}

/* Estilo para los enlaces de la navbar */
.navbar-nav .nav-link {
    color: white; /* Color blanco para los enlaces del navbar */
}

/* Estilo para el botón navbar-toggler */
.navbar-toggler {
    background: none; /* Elimina el fondo */
    border: none; /* Elimina el borde */
    padding: 0; /* Elimina el padding */
    width: 70px; /* Ajustar el ancho del botón */
    height: 70px; /* Ajustar la altura del botón */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("<?= base_url('classmate.png') ?>"); /* Ruta del icono personalizado */
    background-size: cover; /* Ajustar tamaño del icono */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; /* Ajustar para llenar el botón */
    height: 100%; /* Ajustar para llenar el botón */
}

.navbar-nav .nav-link {
    color: white; /* Texto blanco */
}

.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Sombrea al pasar el cursor */
    color: white; /* Mantiene el texto blanco */
}
